In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df =pd.read_csv(r"C:\Users\RaviKiran\OneDrive\Desktop\Data Science\Bootcamp practise files\smad.csv")

In [5]:
df.describe()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,2615.727273,42.518182,9.781818,1828.333333,6345.868687,54.463636,449.366667,6762.505051,2.494949,55.643030
std,3045.826210,17.348277,2.524547,3192.199763,9136.202716,7.773286,610.990885,10393.349660,1.013921,13.470943
min,47.000000,13.400000,3.900000,140.000000,481.000000,30.300000,66.900000,769.000000,1.000000,23.320000
25%,1408.000000,30.100000,8.350000,459.000000,2390.000000,50.250000,150.300000,2003.000000,2.000000,46.115000
50%,1951.000000,39.500000,9.700000,774.000000,3472.000000,54.000000,257.200000,3510.000000,3.000000,56.060000
75%,2890.500000,52.600000,10.750000,1911.500000,6386.500000,58.300000,436.500000,6283.500000,3.000000,63.860000
max,27293.000000,100.000000,21.800000,25627.000000,69678.000000,72.800000,4083.900000,72100.000000,4.000000,85.620000

In [7]:
df.land_area.mean()

2615.7272727272725

In [8]:
df.region.unique()

array([1, 2, 4, 3], dtype=int64)

In [9]:
df.land_area.median()

1951.0

In [11]:
(df.region == 3).sum()

36

In [12]:
df.crime_rate.mean()

55.64303030303031

In [14]:
df.graduates.isnull()

0     False
1     False
2     False
3     False
4     False
      ...
94    False
95    False
96    False
97    False
98    False
Name: graduates, Length: 99, dtype: bool

In [15]:
df.region.value_counts()

3    36
2    25
1    21
4    17
Name: region, dtype: int64